.confluence-sidebar-open-icon-page,
.acs-nav-item.wiki .icon,
.acs-nav-item.pinned_page .icon {
    background: url("assets/icons/sidebar-open-pages.svg") no-repeat;
}

.confluence-sidebar-open-icon-blog,
.acs-nav-item.blog .icon,
.acs-nav-item.pinned_blog_post .icon,
.ia-secondary-header-title.blog .icon {
    background: url("assets/icons/sidebar-open-blog.svg") no-repeat;
}

.confluence-sidebar-open-icon-profile,
.acs-nav-item.profile .icon, .acs-nav-item.pinned_profile .icon {
    background: url("assets/icons/sidebar-open-profile.svg") no-repeat;
}

.confluence-sidebar-open-calendar,
.acs-nav-item.calendar .icon {
    background: url("assets/icons/sidebar-open-calendars.svg") no-repeat;
}

.confluence-sidebar-open-icon-pagetree,
.ia-secondary-header-title.wiki .icon {
    background: url("assets/icons/sidebar-open-pagetree.svg") no-repeat;
}

.confluence-sidebar-open-icon-blueprint,
.acs-nav-item.pinned_page.blueprint .icon {
    background: url("assets/icons/sidebar-open-blueprints.svg") no-repeat;
}

.confluence-sidebar-open-icon-space,
.acs-nav-item.pinned_space .icon {
    background: url("assets/icons/sidebar-open-spacehome.svg") no-repeat;
}

.confluence-sidebar-open-icon-link,
.acs-nav-item.external_link .icon {
    background: url("assets/icons/sidebar-open-link.svg") no-repeat;
}

.confluence-sidebar-open-alphabetical {
    background: url("assets/icons/sidebar-open-alphabetical.svg") no-repeat;
}

.confluence-sidebar-closed-icon-page,
.collapsed .acs-nav-item.wiki .icon {
    background: url("assets/icons/sidebar-closed-pages.svg") no-repeat;
}

.confluence-sidebar-closed-icon-blog,
.collapsed .acs-nav-item.blog .icon {
    background: url("assets/icons/sidebar-closed-blog.svg") no-repeat;
}

.confluence-sidebar-closed-icon-profile,
.collapsed .acs-nav-item.pinned_profile .icon,
.collapsed .acs-nav-item.profile .icon {
    background: url("assets/icons/sidebar-closed-profile.svg") no-repeat;
}

.confluence-sidebar-closed-icon-link,
.collapsed .acs-nav-item.space-calendar-sidebar-link .icon {
    background: url("assets/icons/sidebar-closed-profile.svg") no-repeat;
}

.confluence-sidebar-closed-icon-pagetree,
.collapsed .ia-secondary-header-title.page-tree .icon {
    background: url("assets/icons/sidebar-closed-pagetree.svg") no-repeat;
}

.confluence-sidebar-closed-icon-spaceshortcut,
.collapsed .quick-links-section {
    background: url("assets/icons/sidebar-closed-spaceshortcuts.svg") no-repeat;
}